<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlueBlog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>
            <a href="/">BlueBlog</a>
        </h1>
        <nav>
            <a href="/dashboard">My Dashboard</a>
            {{#if loggedIn}}
            <button id="logoutBtn">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>