<div class="forms">
    <div class="login">
        <h2>Log In</h2>
        <form class="login-form">
            <div id="email-login-div">
                <label for="emailLogin">Username:</label>
                <input type="text" id="emailLogin">
            </div>
            <div id="password-login-div">
                <label for="passwordLogin">Password:</label>
                <input type="password" id="passwordLogin">
            </div>
            <div>
                <button type="submit" id="loginBtn">Login</button>
            </div>
        </form>
    </div>
    <div class="signup">
        <h2>Sign Up</h2>
        <form class="signup-form">
            <div id="email-signup-div">
                <label for="emailSignup">Email:</label>
                <input type="email" id="emailSignup">
            </div>
            <div id="username-signup-div">
                <label for="usernameSignup">Username:</label>
                <input type="text" id="usernameSignup">
            </div>
            <div id="password-signup-div">
                <label for="passwordSignup">Password:</label>
                <input type="password" id="passwordSignup">
            </div>
            <div>
                <button type="submit" id="signupBtn">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>